.known-title{
    color: blue;
    font-size: 46px;
    font-family:"Roboto Mono", monospace;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

.known-info{
    display: inline-block;
    margin-inline: 40px;
}

.known-text{
    color: black;
    font-size: 34px;
    font-family:"Roboto Mono", monospace;
    font-style: italic;
    margin-top: 20px;
}

.knownim{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    width: 110px;
}





