.iam{
    height: 200px;
    width: 200px;
}

.navbar1{
    margin: 0 auto;
}

.nav-container{
    background-color: blue;
    display: flex;
    height: 100px;
    min-width: 100%;
    min-height: 100%;
    justify-content: space-between;
}

.list-item{
    color: white;
    display:inline-flex;
    margin: 30px;
    font-size: 24px;
    font-family:"Roboto Mono", monospace;    
}

.link-id{
    text-decoration: none;
    color: white;
}

.link-id:hover{
    color: black;
}